.center-content {
  --background: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-link {
  position: relative;
  width: 50vw; 
  height: auto;
}

.my-logo {
  display: block;
  max-width: 100%;  
  height: auto;
  animation: breathe 2s ease-in-out infinite; 
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}