<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense"> </ion-header>
  <br />
  <ion-item>
    <ion-label>
      <h3>{{asistencia?.nombreClase}}</h3>
      <h4>{{asistencia?.fecha}}</h4>
    </ion-label>
  </ion-item>

  <br />
  <div style="text-align: center">
    <qrcode [qrdata]="asistencia?.uuid || ''" [width]="256" [allowEmptyString]="true"></qrcode>
  </div>
  
  <!-- <div style="text-align: center">
    <qrcode [allowEmptyString]="true" [qrdata]="asistencia?.uuid" [width]="256"></qrcode>
  </div> -->
  <h4 style="text-align: left;">Participantes</h4>
  <!-- Suponiendo que tienes un objeto de asistencia actual que tiene una propiedad alumnos -->
  <ion-list *ngIf="asistencia?.alumnos.length > 0; else sinRegistros">
    <ion-item *ngFor="let alumno of asistencia?.alumnos">
      <img [src]="'assets/profile/' + alumno.id + '.png'" alt="Profile picture" class="profile-img">
      {{ alumno.nombre }} {{ alumno.apellido }}
    </ion-item>
  </ion-list>

  <ng-template #sinRegistros>
    <h5 style="text-align: left;">No existen Alumnos presentes</h5>
  </ng-template>
  <ion-button expand="full" [disabled]="asistencia?.isCerrada" (click)="cerrarAsistencia()">
    {{ asistencia?.isCerrada ? 'Clase Cerrada' : 'Cerrar Clase' }}
  </ion-button>
</ion-content>