ion-toolbar {
    --background: #4287f5;
   
  }

  ion-title {
    color: black;
    font-size: 20px; /* Tamaño de fuente personalizado */
    font-weight: bold; /* Peso de fuente personalizado */
    text-transform: uppercase; /* Cambia a mayúsculas si es necesario */
    letter-spacing: 2px; /* Espaciado entre letras */
  }

  /* Personaliza las alertas */
ion-alert {
  border-radius: 15px; /* Redondea las esquinas del alerta */
}

/* Estilos para el icono en el mensaje */
.alert-icon {
  font-size: 24px;
  margin-right: 8px;
}