ion-toolbar {
    --background: #4287f5;
  }

  ion-title {
    color: black;
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 2px; 
  }
 
ion-alert {
  border-radius: 15px; 
}

.alert-icon {
  font-size: 24px;
  margin-right: 8px;
}