.align-center {
    display: flex;
    align-items: center; /* Alinea los elementos hijos en el centro verticalmente */
    justify-content: center; /* Opcional: Centra horizontalmente, pero en este caso no es necesario */
}

.custom-card {
      ion-card-title {
        font-size: 1.2em;  // Ajusta el valor según prefieras para el título
      }
    ion-card-content {
        p {
          font-size: 0.9em;  // Aquí ajusta el valor según prefieras
        }
      }
  }

  
  
  
  
  