<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>{{ clase.nombre }}</ion-title>
    <ion-title style="font-size: smaller;">COD. {{ clase.codigo }}</ion-title>
  </ion-toolbar>
</ion-header>

<div class="glass-banner">
  <img [src]="'assets/clases/' + clase.id + '.png'" alt="Imagen de la clase">
</div>
<ion-content class="ion-padding">
  <h4 style="text-align: left;">Participantes</h4>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnosInscritos">
      <img [src]="'assets/profile/' + alumno.id + '.png'" alt="Profile picture" class="profile-img">
      {{ alumno.nombre }} {{ alumno.apellido }}
    </ion-item>
  </ion-list>

  <ng-container *ngIf="currentUser.isProfesor">
    <h4 style="text-align: left; margin-top: 20px;">Asistencias</h4>
    <ion-list *ngIf="asistenciasFiltradas.length > 0; else noAsistencias">
      <ion-item *ngFor="let asistencia of asistenciasFiltradas" (click)="verDetalleAsistencia(asistencia.uuid)">
        <ion-label>
          <h6>Clase {{ clase.nombre }} [{{ asistencia.fecha }}]</h6>
          <p>Ver Detalles</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #noAsistencias>
      <h5 style="text-align: left;">No existen asistencias registradas</h5>
    </ng-template>

    <ion-button expand="full" (click)="accionBoton()">
      Iniciar Clase
    </ion-button>
  </ng-container>

</ion-content>
